@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E9B960;
}


a#a {
    text-decoration: none; 
    background: #a06800; 
    color: white; 
    border-radius: 25px; 
    text-transform: uppercase; 
    font-size: 20px; 
    font-weight: 700; 
    padding: 10px 35px; 
    margin-top: 30px; margin-left: 75px; 
    display: inline-block; 
    border: 0;
}

h1 {
    margin-left: 78px;
    margin-top: -395px;
    background-color: transparent;
    color: white;
    font-family: "Sigmar", serif;
    text-shadow: 2px 1px 1px black;
}

h1#v {
    text-align: center;
    font-size: 49px;
    position: relative;
    top: -52px;
    margin-top: -470px;
}


img#a {
    max-width: 75px;
    margin-top: -5px;
}

img#b {
    margin-top: 163px;
}

header {
    background-color:#E9B960;
    padding-inline: 16px;
}

.nav {
    max-width: 1366px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 48px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding-block: 16px;
}

.hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url("./imagens/computador.png");
}


.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid white;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

header.a > img {
    background-color: transparent;
    top: -154px;
    left: -5px;
    position: relative;
}

header.a {
    background-color: #ff9e00;
    padding-top: 169px;
    margin-left: 1044px;
    margin-top: -26px;
    position: relative;
    left: -973px;
    top: -13px;
    border-radius: 14px;
    box-shadow: 4px -2px 1px #9d712a;
}

header.a > h2 {
    background: transparent;
    color: white;
    position: relative;
    top: -145px;
    margin-top: -20px;
    text-wrap: nowrap;
    font-size: 16px;
    font-family: "Sigmar", serif;
    text-shadow: 1px 1px 1px black;

}

header.a > p {
    background: transparent;
    margin-top: -70px;
    position: relative;
    top: -68px;
    font-family: arial;
    color: white;
    text-shadow: 1px 1px 1px #000000c2;
}

header.a > a {
    position: relative;
    top: -11px;
    left: 1px;
    text-decoration: none;
    background: #a06800;
    color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    padding: 11px 37px;
}


header.b {
    background-color: #ff9e00;
    padding-top: 15px;
    margin-left: 1044px;
    margin-top: -481px;
    position: relative;
    left: -530px;
    top: 41px;
    border-radius: 14px;
    box-shadow: 4px -2px 1px #9d712a;
}

header.b > img {
    background: transparent;
    position: relative;
    top: -55px;
    left: -6px;
}

header.b > h2 {
    position: relative;
    top: -73px;
    left: 14px;
    font-size: 21px;
    text-shadow: 1px 1px 1px black;
    background: transparent;
    margin-top: -34px;
    color: white;
    font-family: "Sigmar", serif;
}

header.b > p {
    background: transparent;
    color: white;
    text-shadow: 1px 1px 1px black;
    position: relative;
    top: -62px;
    left: 11px;
}

header.b > a {
        position: relative;
    top: -11px;
    left: 1px;
    text-decoration: none;
    background: #a06800;
    color: white;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    padding: 11px 37px;
}

@media  (max-width: 767px) {

    a#a {
        text-decoration: none;
        background: #a06800;
        color: white;
        border-radius: 25px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 35px;
        margin-top: 277px;
        margin-left: 52px;
        display: inline-block;
        border: 0;
    }

    h1 {
        text-align: center;
        margin-left: 5px;
        margin-top: -671px;
        font-size: 25px;
        background-color: transparent;
        color: white;
    }

    h1#v {
        text-align: center;
        font-size: 49px;
        margin-top: -719px;
    }

    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #E9B960;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .hero {
        background: center / cover no-repeat url("./imagens/mobile.png");
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav.active .nav-list a {
        opacity: 1;
        
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    header.a {
        background-color: #ff9e00;
        padding-top: 201px;
        padding-left: 274px;
        margin-left: 1010px;
        position: relative;
        left: -973px;
        top: 33px;
        border-radius: 14px;
    }

    header.a > img {
        background-color: transparent;
        top: -184px;
        left: -15px;
        position: relative;
        margin-left: -255px;
    }

    header.a > h2 {
        background: transparent;
        color: white;
        position: relative;
        top: -169px;
        margin-top: -20px;
        margin-left: -266px;
        text-wrap: nowrap;
        font-size: 16px;
        font-family: "Sigmar", serif;
        text-shadow: 1px 1px 1px black;
    }

    header.a > p {
        margin-left: -245px;
        margin-top: -81px;
        font-size: 17px;
    }

    header.a > a {
        position: relative;
        top: -11px;
        left: 9px;
        margin-left: -275px;
        text-decoration: none;
        background: #a06800;
        color: white;
        border-radius: 25px;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 700;
        padding: 11px 37px;
    }


    header.b {
        background-color: #ff9e00;
        padding-top: 201px;
        padding-left: 274px;
        margin-left: 772px;
        margin-top: -48px;
        position: relative;
        left: -731px;
        top: 157px;
        border-radius: 14px;
    }

    header.b > img {
        background: transparent;
        position: relative;
        top: -195px;
        left: -25px;
        margin-left: -256px;
    }

    header.b > h2 {
        position: relative;
        top: -193px;
        left: -252px;
        font-size: 21px;
        text-shadow: 1px 1px 1px black;
        background: transparent;
        margin-top: -34px;
        color: white;
        font-family: "Sigmar", serif;
        text-wrap: nowrap;
    }

    header.b > p {
    position: relative;
    top: -73px;
    left: 6px;
    font-size: 17px;
    text-shadow: 1px 1px 1px black;
    margin-top: -116px;
    margin-left: -263px;
    color: white;
    background: transparent;
    }

    header.b > a {
        position: relative;
        top: -11px;
        left: 9px;
        margin-left: -275px;
        text-decoration: none;
        background: #a06800;
        color: white;
        border-radius: 25px;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 700;
        padding: 11px 37px;
    }
    
}